__pycache__
*.pyc
result.tmp
*.log
.DS_Store
chromedriver
Betclic.txt
Winamax.txt
Xbet.txt
Pinnacle.txt
Marathon.txt
Zebet.txt
Netbet.txt
Parionssport.txt
Bet22.txt
Pmu.txt
minify.py
Unibet.txt
ChampCode.txt
